@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Henny+Penny&family=Mouse+Memoirs&display=swap");

body {
  background-color: yellow;
}

/*.site-header {
  position: relative;
  height: 84px;
  padding: 0 20px;
}

.mouse-logo {
  position: absolute;
  left: 20px;
  top: 15%;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.heading {
  font-family: 'Mouse Memoirs', cursive;
  color: rgb(44, 30, 30);
  font-size: 50px;
  text-align: center;

}
  
*/

/* /new code/ */
.logo-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mouse-logo {
}
#image {
  width: 200px;
  height: 200px;
}

.heading {
  font-family: "Mouse Memoirs", cursive;
  color: rgb(44, 30, 30);
  font-size: 50px;
  text-align: center;
}

.logo-end {
  font-family: "Henny Penny", cursive;
  color: rgb(44, 30, 30);
  font-size: 12px;

  display: flex;
  justify-content: center; 
  align-items: flex-end;   
  height: 300px;         
}