.Nav-bar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.Contact {
    margin-left: auto;  
}

.logo img {
    width: 60px;
    height: auto;
}

.Content a, .Contact a {
    margin-left: 20px;
    cursor: pointer;
}

.Heading {
    display: flex;
    align-items: baseline;   /* <-- this aligns text on the baseline */
    gap: 20px;
}

.Portfolio-header {
    font-size: 32px;
    font-weight: bold;
}

.Portfolio-Subheader {
    font-size: 18px;
    color: gray;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.Card {
    background: #f8f8f8;     /* light box background */
    border-radius: 10px;     
    padding: 15px;
    width: 600px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    text-align: center;      /* center content */
}

.Card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.Card-title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.Card-desc {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}
.Image1 img{
    height: auto;
    width: 600px;
}
.Image2 img{
    height: auto;
    width: 600px;
}
.Image3 img{
    height: auto;
    width: 600px;
}
.Image4 img{
    height: auto;
    width: 600px;
}
