@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Henny+Penny&family=Mouse+Memoirs&display=swap");

body {
  background-color: rgba(235, 230, 124);
  margin: 0px;
}

/*.site-header {
  position: relative;
  height: 84px;
  padding: 0 20px;
}

.mouse-logo {
  position: absolute;
  left: 20px;
  top: 15%;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.heading {
  font-family: 'Mouse Memoirs', cursive;
  color: rgb(44, 30, 30);
  font-size: 50px;
  text-align: center;

}
  
*/

/* /new code/ */
.logo-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
}

.mouse-logo {
}
#image {
  width: 200px;
  height: 200px;
}

.heading {
  font-family: "Mouse Memoirs", cursive;
  color: rgb(44, 30, 30);
  font-size: 50px;
  text-align: center;
}

.logo-end {
  font-family: "Henny Penny", cursive;
  color: rgb(44, 30, 30);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 190px;
  padding-right: 1%;
}

.nav-bar {
  background-color: rgba(187, 182, 72);
  padding: 10px;
  text-align: center;
}

.button-new {
  font-family: "Mouse Memoirs", cursive;
  color: white;
  background-color: rgb(26, 25, 25);
  border: none;
  padding: 10px 80px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.Ratified {
  font-family: "Henny Penny", cursive;
  color: rgb(24, 26, 77);
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 27%;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.left-div {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.middle-div {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.right-div {
  grid-column: 4 / 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.rat-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rat-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.joke-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #8b4513;
}

.joke-text {
  font-style: italic;
  font-size: 14px;
  color: #555;
}

.right-div,
.middle-div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 10px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
}

.card-header {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
}

.card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content ul {
  list-style-position: inside;
}

.card-content li {
  margin-bottom: 5px;
  text-align: left;
}

.Footer{
    position: fixed;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    font-size: 20px;
    left: 0;
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
    cursor: pointer;

}