html, body {
    background: #000 !important;
    color: white;
    margin: 0;
    padding: 0;
}

.section {/* Sections also black */
    background: #000 !important;
}

.navbar {/* Navbar dark background */
    background-color: #202020 !important;
}

.navbar-item {/* Navbar text color */
    color: #fff !important;
}

.navbar-item:hover {/* Navbar hover */
    color: #ff0000 !important;
    background-color: transparent !important;
}

input.input.is-dark {/* Search input text and placeholder */
    background-color: #121212 !important;
    color: #fff !important;
    border: 1px solid #333 !important;
}
input.input.is-dark::placeholder { /* Search input placeholder */
    color: #fff !important;
    opacity: 1;
}

.search-box {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.card { /*contents*/
    background-color: #ad0f0f !important;
    border-radius: 8px;
    color: white;
}

.card-content, .card-footer, .card-header {
    background-color: #181818 !important;
    color: white;
}

.navbar-item, .navbar-link {
    color: #fff !important;
}

.thumbnail {
    height: 240px;
    object-fit: cover;
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.card .subtitle {
    color: #ffffff !important;
}

.card .title {
    color: #ffffff !important;
}

input.input.is-dark {/* Input text */
    color: #ffffff !important;
    background-color: #121212 !important;
    border: 1px solid #333 !important;
}

input.input.is-dark::placeholder {/* Placeholder text */
    color: #ffffff !important;
    opacity: 1;
}

.card:hover {/*click able effect*/
    cursor: pointer;   
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}